@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.header {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.03em;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #e3f2f7 59%,
    #666666 41%
  );

  .top {
    height: 910px;
    @apply mt-4 mx-40;

    .title {
      @apply text-7xl font-semibold mt-24;
      width: 32rem;
      line-height: 80px;
    }

    .p {
      @apply text-3xl mt-5 leading-10 tracking-tight;
    }

    .p + button {
      @apply bg-purple text-white rounded-xl py-4 px-7 mt-14;
      box-shadow: 0px 5px 10px 2px rgba(125, 74, 234, 0.27);
    }

    .smalltext__container {
      @apply flex mt-10 mb-24;

      div {
        @apply flex text-xs opacity-60 mr-10;

        p {
          @apply ml-2;
        }
      }
    }
  }

  .bottom {
    height: 630px;
    gap: 7.5em;
    @apply flex justify-between text-white mx-40;

    h3 {
      @apply text-4xl font-semibold;
      letter-spacing: -0.015em;
    }

    > * {
      padding-top: 21rem;

      h2 {
        @apply text-7xl font-semibold mb-4;
        letter-spacing: -0.03em;
      }

      p {
        @apply text-base font-medium;
      }
    }
  }
}
