@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.03em;

  div,
  ul {
    display: flex;
    align-items: center;
  }
  ul > li,
  div > button {
    @apply mr-5;
  }
  .btn__primary {
    box-shadow: 0px 3px 7px 1px rgba(125, 74, 234, 0.2);
    @apply bg-purple text-white rounded-xl px-5 py-2;
  }
}
