@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@tailwind components;

@layer components {
  .modal {
    font-family: "Inter", sans-serif;
    width: 480px;
    height: 516px;
    @apply flex flex-col items-center px-16 pt-10 text-center rounded-xl;
  }
}
